In [1]:
import pandas as pd
import numpy as np 

# Ignore SQLITE 
import warnings
warnings.filterwarnings('ignore')

In [9]:
#import dependencies ofr sql alchemy
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import func
from sqlalchemy import Column, Float, Integer, String, Date
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
Base = declarative_base()

In [7]:
#set the file path for the cleaned_csv files
file_measurement = 'Resources/clean_measurement.csv'
file_station  = 'Resources/clean_station.csv'

In [41]:
#read in csv files to a data frame
df_measurement = pd.read_csv(file_measurement)
df_station = pd.read_csv(file_station)

In [3]:
#Define measurement class 
class Measurement(Base):
    __tablename__ = "measurement"
    station = Column(String, primary_key=True)
    date = Column(Date)
    prcp = Column(Float)
    tobs = Column(Integer)

In [4]:
#Define Station Class
class Station(Base):
    __tablename__ = 'station'
    station = Column(String,primary_key=True)
    name = Column(String)
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

In [6]:
#create a hawaii sqlite database
from sqlalchemy import create_engine
from sqlalchemy.orm import Session

engine = create_engine("sqlite:///hawaii.sqlite")
Base.metadata.create_all(engine)

session = Session(bind=engine)

In [45]:
df_station = df_station[['station','name','latitude','longitude','elevation']]

In [50]:
df_station.to_sql(con=engine,name=Station.__tablename__,index_label=['station'], if_exists='append')

ValueError: duplicate name in index/columns: cannot insert station, already exists